<oembed version="1.0" encoding="utf-8" standalone="yes">
    <version>1.0</version>
    <type>rich</type>
    <provider_name>Imgur</provider_name>
    <provider_url>https://imgur.com</provider_url>
    <width>540</width>
    <height>500</height>
    <html>
    <blockquote class="imgur-embed-pub" lang="en" data-id="a/oUmE2yD"><a href="https://imgur.com/a/oUmE2yD">Perfect</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
    </html>
    </oembed>