{"version":"1.0",
"type":"rich",
"provider_name":"LightningHosted",
"provider_url":"https:\/\/lightninghosted.com",
"width":<%- image.width %>,
"height":<%- image.height %>,
"html":"<blockquote class=\"imgur-embed-pub\" lang=\"en\" data-id=\"a\/J8KtqM0\"> <a href=\"https:\/\/lightninghosted.com\/s\/<%- image.imageId %></a>\"><%- image.title %><\/a> <\/blockquote>"
}