{"version":"1.0",
"type":"rich",
"provider_name":"LightningHosted",
"provider_url":"https:\/\/lightninghosted.com",
"width":<%- image.width %>,
"height":<%- image.height %>,
"html":"<blockquote class="embedly-card" data-card-key="1ca3ae20c41547dd8d8a0b095935edf2" data-card-type="article-full"><h4><a href="https://lightninghosted.com/s/23a6164ae7c78386">If you were WONDERING</a></h4><p>21 views and 1 votes on LightningHosted.com</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>"}