<!DOCTYPE html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133745471-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133745471-2');
  </script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
</head>

<body>
  <div class="page-wrapper">
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
          <div id='logo'><a href="/"><h1>LightningHosted</h1></a></div>
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/auth/#">Posts</a></li>
          <li class="nav-item"><a href="/noauth/about">About</a></li>
          <li class="nav-item"><a href="/noauth/contact">Contact</a></li>
          <li class="nav-item"><a id="logInStatus" class="<%= logInStatus %>" href="/noauth/login">Log In</a></li>
        </ul>
      </nav>
    </div>
    <section class="headline">
        <a href="/"><h1>Share Images And Stack Sats</h1></a>
    </section>
    <div id='ad1' class='ad'>
      <iframe data-aa="1241600" src="//ad.a-ads.com/1241600?size=728x90" scrolling="no"
        style="width:728px; height:90px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
    </div>
    <div id='ad2' class='ad'>
      <iframe data-aa="1241618" src="//ad.a-ads.com/1241618?size=320x50" scrolling="no"
        style="width:320px; height:50px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
    </div>
    <div class="grid">
    </div>
    
    <!-- image card template -->
    <div id="photoCard" class="item photo" style="display:none">
      <div class="content">
        <div class="title">
          <h3 class='titleVal'>Title</h3>
        </div>
        <a class='shareLink' href="/">
          <img onload="" class="photoThumb" src="/">
        </a>
        <div class="descNoAuth">
          <p>Views: <span class='views'></span></p>
          <p class="outSide">Upvotes: <span class='upVotes'></span> <button class="upVotebtn" onclick=""><span class="chevron top"></span></button></p>
        </div>
      </div>
    </div>

    <!-- ad card template -->
    <div id="photoCardAd" class="item photo adCardTemplate" style="display:none">
      <div class="content">
        <div class="title">
          <h3>Sponsor</h3>
        </div>
        <div class="ads">
          <iframe data-aa="1241606" src="//ad.a-ads.com/1241606?size=300x250" scrolling="no"
            style="width:300px; height:250px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
        </div>
        <div class="desc">
        </div>
      </div>
    </div>

</body>
<footer>
  <script src="script.js"></script>
  <script src="noauth-script.js"></script>
</footer>