<!DOCTYPE html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133745471-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133745471-2');
  </script>
  <meta name="viewport" content="width=device-width,initial-scale=0.85,user-scalable=0">
  <script src="jquery-3.4.1.js"></script>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <script src="infinite-scroll.pkgd.min.js"></script>
  <meta name="coinzilla" content="fd5d66906f98395178827846970c82e1" />
</head>

<body>
  <div class="page-wrapper">
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
        <div id='logo'><a href="/">
            <h1>LightningHosted</h1>
          </a></div>
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/auth/#">Posts</a></li>
          <li class="nav-item"><a href="/noauth/about">About</a></li>
          <li class="nav-item"><a href="/noauth/contact">Contact</a></li>
          <li class="nav-item"><a id="logInStatus" class="<%= logInStatus %>" href="/noauth/login">Log In</a></li>
        </ul>
      </nav>
    </div>
    <section class="headline">
      <a href="/">
        <h1>Share Images And Stack Sats</h1>
      </a>
    </section>
    <div id='ad1' class='ad'>
      <iframe data-aa="1259139" src="//ad.a-ads.com/1259139?size=468x60" scrolling="no"
        style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
    </div>
    <div class="grid">
    </div>
    <div class='footer'>
      <div onclick="removeFooter()" class="close-container">
        <div class="leftright"></div>
        <div class="rightleft"></div>
      </div>
      <div class='facebookContainer'>
        <a href="https://twitter.com/LightningHosted?ref_src=twsrc%5Etfw" class="twitter-follow-button"
          data-size="large" data-show-count="false">Follow @LightningHosted</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <!-- image card template -->
    <div id="photoCard" class="item photo" style="display:none">
      <div class="content">
        <div class="title">
          <h3 class='titleVal'>Title</h3>
        </div>
        <a class='shareLink' href="/">
          <img onload="" class="photoThumb" src="/">
        </a>
        <div class="descNoAuth">
            <p>Views: <span class='views'></span></p>
            <a class='commentsLink'>
              <p>Comments: <span class='numberOfComments'></span></p>
            </a>
            <p class="outSide">Upvotes: <span class='upVotes'></span> </p>
            <button class="upVotebtn" onclick=""><span class="chevron top"></span></button>
          </div>
      </div>
    </div>

    <!-- ad card template -->
    <div id="photoCardAd" class="item photo adCardTemplate" style="display:none">
      <div class="content">
        <div class="title">
          <h3>Sponsor</h3>
        </div>
        <div class="ads">
          <a href="https://trezor.io/?offer_id=12&aff_id=2619&file_id=268" target="_blank"><img class='trezor'
              src="https://media.go2speed.org/brand/files/trezor/12/trezor-banner.jpg" width="300" height="250"
              border="0" /></a><img src="https://trezor.go2cloud.org/aff_i?offer_id=12&file_id=268&aff_id=2619"
            width="1" height="1" />
        </div>
        <div class="desc">
        </div>
      </div>
    </div>


    <!-- Video Card Template -->
    <div id="videoCard" class="item photo" style="display:none">
      <div class="content">
        <div class="title">
          <h3 class='titleVal'>Title</h3>
        </div>
        <a class="shareLink" href="/">
          <video class="photoThumb videoThumb" width="" height="" disableRemotePlayback autoplay loop muted>
            <source class='mp4' src="/" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </a>
        <div class="descNoAuth">
          <p>Views: <span class='views'></span></p>
          <a class='commentsLink'>
            <p>Comments: <span class='numberOfComments'></span></p>
          </a>
          <p class="outSide">Upvotes: <span class='upVotes'></span> </p>
          <button class="upVotebtn" onclick=""><span class="chevron top"></span></button>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
  <script src="script.js"></script>
  <script src="noauth-script.js"></script>
</footer>