
<!DOCTYPE html>

<head>
  <!-- testing -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../main.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
  <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
  <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <link rel="stylesheet" href="../jquery.sweet-modal.min.css" />
  <script src="../jquery.sweet-modal.min.js"></script>
</head>

<body>
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
          <a href="/"><img src="../LightningHosted.png" alt="Company Logo"></a>
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/auth/#">Posts</a></li>
          <li class="nav-item"><a href="/noauth/about">About</a></li>
          <li class="nav-item"><a href="/noauth/contact">Contact</a></li>
          <li class="nav-item"><a href="/noauth/logout">Logout</a></li>

        </ul>
      </nav>
    </div>
    <section class="headline">
      <h1>LightningHosted</h1>
      <p>Share Images And Stack Sats</p>
    </section>
    </div>
    <div id='withdrawDiv'> Sats: <span id ="satsEarned">0</span> <button onclick="withdraw()" class='btn'>Withdraw</button></div>
    <div id ='filepond-container'>
    <input type="file">
  </div>
    <div id='message-container'>
      <p id='message'></p>
      <p id='message-link'></p>
      <div id='message-image'></div>
      <a id='message-invoice' href='#'>Open Wallet</a>
    </div>
  <div class="grid"></div>

  </div>
</body>
<footer>
  <script src="../auth-script.js"></script>
  <script src="../script.js"></script>
</footer>

</html>