<!DOCTYPE html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133745471-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133745471-2');
  </script>
  <meta name="viewport" content="width=device-width,initial-scale=.85,user-scalable=0">
  <script src="../jquery-3.4.1.js"></script>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <div class="page-wrapper">
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
        <div id='logo'><a href="/">
            <h1>LightningHosted</h1>
          </a></div>
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/auth/#">Posts</a></li>
          <li class="nav-item"><a href="/noauth/about">About</a></li>
          <li class="nav-item"><a href="/noauth/contact">Contact</a></li>
          <li class="nav-item"><a id="logInStatus" class="<%= logInStatus %>" href="/noauth/login">Log In</a></li>

        </ul>
      </nav>
    </div>
    <section class="headline">
      <a href="/">
        <h1>Share Images And Stack Sats</h1>
      </a>
    </section>
    <div id='ad1' class='ad'>
      <iframe data-aa="1259139" src="//ad.a-ads.com/1259139?size=468x60" scrolling="no" style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
    </div>    
    <form class='loginGrid' action="/noauth/register/submit" method="post">
      <p class="loginMessage thirdPartyLoginBtn"><%= messages.error %> </p>
      <label class='thirdPartyLoginBtn' for="username"><b>Username</b></label>
      <input class='thirdPartyLoginBtn' type="text" placeholder="Enter Username" name="username" required>

      <label class='thirdPartyLoginBtn' for="password"><b>Password</b></label>
      <input class='thirdPartyLoginBtn' type="password" placeholder="Enter Password" name="password" required>

      <button class='btn registerBtn thirdPartyLoginBtn' type="submit">Register</button>
    </form>

</body>
<footer>
  <script src="/script.js"></script>
</footer>