:root {
  --background: #595457;
  --navTextColor: #ffffff;
  --textColor: #ffffff;
  --cardColor: purple;
  --navColor: black;
}

html {
  background: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

.headline h1, .headline p {
  color: var(--textColor);
  text-align: center;
  line-height: 1.4;
}

.headline a {
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

.page-wrapper {
  background-color: var(--background);
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #23A6D5, var(--cardColor), #23A6D5, #3A405A);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
  border-bottom: 4px solid var(--navTextColor);
  background-color: var(--navColor);
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  height: 30px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: end;
  
}

.nav-item a {
  color: var(--navTextColor);
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
  margin: 10px;
}

.nav-item a:hover {
  color: var(--cardColor);
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 40vh;
  min-height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.grid {
  margin: 10px 10px 0px 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: .1px;
}

.content {
  overflow: hidden;
  border-radius: 5px;
}

.horizontal {
  grid-column: span 2;
}

.photoThumb {
  vertical-align: bottom;
  width: 100%;
}

.sharePhoto {
  vertical-align: bottom;
  width: 100%;
}

.title {
  padding: 20px;
  min-height: 62px;
}

.titleInput {
  min-height: 62px;
  background-color: var(--cardColor);
}

.title h3 {
  font-size: 1.2em;
  color: var(--textColor);
  text-transform: uppercase;
}

.photo .title {
  background-color: var(--cardColor);
}

.item  {
  grid-row-end: span 14;
}

.descNoAuth {
  padding: 10px 10px 5px 10px;
  background-color: var(--cardColor);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr .75fr .25fr;
}

.shareDesc {
  padding: 10px 10px 5px 10px;
  background-color: var(--cardColor);
  display: grid;
  grid-template-columns: 1fr 1fr .75fr .25fr ;
  align-items: center;
  justify-items: center;
}

.shareText {
  display: inline-block;
}

.desc {
  padding: 10px 10px 5px 10px;
  background-color: var(--cardColor);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.desc img, .descNoAuth img {
  width: 50%;
  margin: 0 10px 10px 0;
  float: left;
}

.desc p, .descNoAuth p {
  margin-bottom: 10px;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  /* border-radius: 0;  FOR SAFARI */
  outline: 0;
  padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: var(--navTextColor);
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .aboutGrid{
    display: contents !important;
  }
  #message-link{
    font-size: 0.75rem !important;
    padding: 0px !important;
  }
.grid{
  display:block !important;
}
.item{
  margin-bottom:10px;
}
  /* #ad1 {
    display: none;
  } */
  #ad2 {
    display: inherit !important;
  }
  .grid {
    margin: 10px 0px 0px 0px !important;
  }


  .horizontal {
    grid-column: auto;
  }
  /* MOBILE HEADINGS */
  h1 {
    font-size: 1.9rem  !important;
  }
  h2 {
    font-size: 1rem  !important;
  }
  p, a {
    font-size: 0.8rem  !important;
  }
  /* MOBILE NAVIGATION */
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    top: 55px;
    background-color: var(--navColor);
    width: 100%;
    height: 100vh;
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  .navbar li {
    padding: 15px;
  }
  .navbar li:first-child {
    margin-top: 50px;
  }
  .navbar li a {
    font-size: 1.2rem !important;
  }
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%)!important;
  }
  /* SECTIONS */
  .headline {
    height: 20vh;
  }
  .feature-container p {
    margin-bottom: 25px;
  }
  .feature-container {
    margin-top: 20px;
  }
  .feature-container:nth-child(2) {
    order: -1;
  }
  /* SEARCH DISABLED ON MOBILE */
  #search-icon {
    display: none;
  }
  .search-input {
    display: none;
  }
}

#message-container {
  background: var(--cardColor);
  margin-top: 0;
  border-radius: 0em 0em 0.5em 0.5em;
  padding-top: 0;
  display: none;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  text-align: center;
  padding: 5px;
}

#message-container a {
  color: white;
}

.filepond--root {
  margin-bottom: 0 !important;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: var(--cardColor) !important;
}

#filepond-container {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.filepond-container-behind {
  position: relative;
  z-index: -1000;
}

#message-container p, #message-container img, #message-container a {
  padding: 5px;
}

#message-image {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.aboutGrid h1 {
  grid-column: 1 / -1;
  text-align: center;
  grid-row: span 3;
}

.aboutGrid p {
  text-align: center;
}

.aboutGrid a {
  color: var(--textColor);
}

.faqItem {
  margin: 10px;
  color: var(--textColor);
  border-radius: 5px;
  background: var(--cardColor);
  padding: 20px;
}

.loginGrid{
  margin: 10px;
  color: var(--textColor);
  border-radius: 5px;
  background: var(--cardColor);
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.loginContainer{
  justify-self: center;
  grid-column: 1/-1;
  width: 500px;
}

.thirdPartyLoginBtn{
  justify-self: center;
  grid-column: 1/-1;
  width: 350px;
  margin: 5px;
}

.loginMessage{
  text-align: center;
}

.aboutGrid {
  display: grid;
  /* grid-gap: 20px; */
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.grid p {
  color: var(--textColor);
}

.grid a{
  text-decoration: none;
}

/* testing */

.centered {
  /* width: 550px; */
  height: 0px;
  margin: auto;
}

.group {
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: relative;
}

.centered label {
  position: absolute;
  top: 30.66667px;
  left: 10px;
  color: white;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 1.2em;
  cursor: text;
  transition: .25s ease;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;
}

.centered input {
  background: var(--cardColor);
  display: block;
  width: 100%;
  padding-top: 30.66667px;
  border: none;
  border-radius: 0;
  color: White;
  font-size: 1.2em;
  transition: .3s ease;
  font-weight: bold;
  text-transform: uppercase;
}

.centered input:valid~label {
  top: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 700 22px;
  color: white;
}

.centered input:focus {
  outline: none;
}

.centered input:focus~label {
  top: 10px;
  left: 5px;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: .8em;
  color: white;
}

.centered input:focus~.bar:before {
  transform: translateX(0);
}

.centered input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #333 inset;
  -webkit-text-fill-color: var(--cardColor) !important;
}

.bar {
  background: white;
  content: '';
  width: 550px;
  height: 3.66667px;
  transition: .3s ease;
  position: relative;
}

.bar:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 150%;
  /* background: white; */
  transform: translateX(-100%);
}

::selection {
  background: rgba(33, 150, 243, 0.3);
}

.upVotebtn {
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 1.1rem;
  outline: none;
  background: var(--cardColor);
  color: #fff;
  justify-self: flex-start;
  padding-left: 2px;
}

.upVoted {
  color: black !important;
}

.btn {
  padding: 5px;
  background: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  position: relative;
  top: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  background: var(--background);
  color: #fff;
  /* box-shadow: 0 3px 0 white; */
  border-radius: 15px;
  font-family: 'Lato', 'Arial', sans-serif;
  max-height: 45px;
}

.bigSubmitBtn:hover {
background: black !important; 
}

.bigSubmitBtn{
display: block;
width: 100%;
height: 100%;
align-self: center;
margin: 5px;
}

.btn:hover {
  background: #c472e6;
}

#shareImage {
  max-width: 900px;
  margin: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#shareImageTall {
  max-width: 500px;
  margin: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#withdrawDiv {
  text-align: center;
  padding: 10px;
  color: var(--textColor)
}

#ad1 {
  text-align: center;
}

#ad2 {
  text-align: center;
}

.ads {
  text-align: center;
  background: black;
}

.heading {
  text-align: center;
  color: var(--textColor);
  margin: 20px;
}


.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

#share-buttons a {
  text-decoration: none;
 
}

#share-buttons{
  display: inline-block;
  vertical-align: middle;
}
/* contact css */

#contactPageContainer {
  margin-left: 10px;
  margin-right: 10px;
}

#contactPageContainer input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

#contactPageContainer textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

#contactPageContainer button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

#contactPageContainer button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

#contactPageContainer button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

#contactPageContainer .success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#contactPageContainer .error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#contactPageContainer .field {
  margin: 1em 0;
}

#contactPageContainer label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: var(--textColor);
}

#contactPageContainer input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
}

#contactPageContainer textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
}

#contactPageContainer button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: var(--cardColor);
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

#contactPageContainer button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

#contactPageContainer button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

#contactPageContainer .success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#contactPageContainer .error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* contact css */

#logo h1 {
  color: var(--navTextColor);
  padding-left: 10px;
}

#logo a {
  text-decoration: none;
}


.commentBox {
  height: 84px;
  grid-column: 1;
  border-radius: 5px;
  resize: none;
  font-size: 20px;
}

.replyBox {
  height: 84px;
  grid-column: 1;
  border-radius: 5px;
  resize: none;
  font-size: 20px;
}

#commentSubmit{
  display: grid;
  grid-template-columns: 100fr 1fr;
}

.comment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background: black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.comment p {
  grid-column: 1 / -1
}

.subComment p {
  grid-column: 1 / -1
}

.subComment button{
  grid-column: -1;
}
.comment button{
  grid-column: -1;
}

.subComment {
  background: black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 5px 5px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#commentSection{
  grid-column: 1 / -1;
}


.replyBoxContainer{
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 100fr 1fr;
}

.submitBtn{
  align-self: center;
}

.deleteBtn:hover, .copyBtn:hover{
  background: var(--navColor)
}

.withdrawBtn{
  background: var(--cardColor) !important;
  margin-left: 5px;
}

.withdrawBtn:hover{
  background: var(--navColor) !important;
  
}

.footer{
  /* background: purple; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 28px;
    display: grid;
    grid-template-columns: 1fr 30px 190px;
}

.facebookContainer{
  /* margin-right:20px; */
  grid-column-end: -1;
  justify-self: end;
}


.close-container {
  height: 5px;
  align-self: center;
  cursor: pointer;
  grid-column-end: -2;

}

.leftright {
  height: 4px;
  width: 27px;
  position: absolute;
  background-color: var(--navTextColor);
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 27px;
  position: absolute;
  background-color: var(--navTextColor);
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close-container label {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}

.close {

  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color:var(--navColor);
}

.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color:var(--navColor);
}

.close-container:hover label {
  opacity: 1;
}

.videoThumb{
  width: 100%;
  height: 100%;
}

.shareContainer{
  grid-column: 1/-1;
  justify-self: center;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}

video::-webkit-media-controls-panel{
  display: none;
}

.shareLink {
  z-index: 1;
  
}

.upvotesP{
  justify-self: end;
}

.outSide{
  justify-self: end;
}