:root {
  --background: #4E5166;
  --navTextColor: white;
  --textColor: white;
  --cardColor: #246A73;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}


.headline h1, .headline p {
  color: var(--textColor);
  text-align: center;
  line-height: 1.4;
  letter-spacing: .1rem;
}

.headline a {
  text-decoration: none;
}

.headline p {
  font-size: 1.3rem;
}


h1 {
  font-size: 3.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

.page-wrapper {
  background-color: var(--background);
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #FF715B, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
  background-color: var(--background);
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  height: 30px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-self: end;
  
}

.nav-item a {
  color: var(--navTextColor);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-out;
  margin: 10px;
}

.nav-item a:hover {
  color: #3498db;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 40vh;
  min-height: 250px;
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;  
}

.grid {
  margin:10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
  grid-auto-rows: 20px;
}

.content{
  overflow: hidden;
  border-radius: 5px;
}

.horizontal{
  grid-column: span 2;
}

.photoThumb{
  vertical-align: bottom;
  width: 100%;
}

.sharePhoto{
  vertical-align: bottom;
  width: 100%;
}

.title {
  padding: 20px;
  min-height: 70px;
 }

.titleInput{
  padding:10px;
}

.title h3{
  font-size: 1.2em;
  color: var(--textColor);
  text-transform: uppercase;
}

.project .title{
  background-color: #607D8B;
}

.blog .title{
  background-color: #ff9800;
}

.photo .title{
  background-color: var(--cardColor);
}

.item .photo{
  grid-row-end: span 14;
}

.descNoAuth{
  padding: 10px 10px 5px 10px;
  background-color: var(--cardColor);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shareDesc{
  padding: 10px 10px 5px 10px;
  background-color: var(--cardColor);
  display: grid;
  grid-template-columns: 2fr 2.5fr 1fr 3fr;
  align-items: center;
}

.shareText{
  text-align: right;
}

.desc{
  padding: 10px 10px 5px 10px;
  background-color: var(--cardColor);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.desc img, .descNoAuth img{
  width: 50%;
  margin: 0 10px 10px 0;

  float: left;
}

.desc p, .descNoAuth p{
  margin-bottom: 10px;
}
/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
 /* border-radius: 0;  FOR SAFARI */
  outline: 0;
  padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) { 

  #ad1{
    display: none;
  }

  #ad2{
    display: inherit !important;
  }
  .grid{
    margin: 10px 0px 0px 0px !important;
  }

  .btn{
    font-size: 0.8rem !important;
  }

  .upVotebtn{
    font-size: 0.8rem !important;
  }

  .horizontal{
    grid-column: auto;
  }
  
  /* MOBILE HEADINGS */
  
  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }
  
  /* MOBILE NAVIGATION */
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    top: 55px;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  
  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  
  /* SECTIONS */
  
  .headline {
    height: 20vh;
  }
    
  .feature-container p {
    margin-bottom: 25px;
  }
  
  .feature-container {
    margin-top: 20px;
  }
  
  .feature-container:nth-child(2) {
    order: -1;
  }
  
  /* SEARCH DISABLED ON MOBILE */
  
  #search-icon {
    display: none;
  }
  
  .search-input {
  display: none;
 }
  
}

#message-container{
  background: var(--cardColor);
  margin-top: 0;
  border-radius: 0em 0em 0.5em 0.5em;
  padding-top: 0;
  display: none;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
  padding: 5px;
}

#message-container a{
  color: white;
}
.filepond--root{
  margin-bottom: 0 !important;
  
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
  background-color: var(--cardColor) !important;
}

#filepond-container{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.filepond-container-behind{
  position: relative;
  z-index: -1000;
}

#message-container p,#message-container img,#message-container a{
  padding: 5px;
}

#message-image{
  width:200px;
  margin-left: auto;
  margin-right: auto;
}

.aboutGrid h1{
  grid-column: 1 / -1;
  color:black;
  text-align: center;
  grid-row: span 3;
  margin: 20px;
}
.aboutGrid p{
  text-align: center;
}

.faqItem{
  margin: 10px;
}

.aboutGrid{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
  padding: 10px;
}

.grid p{
  color: var(--textColor);
  padding-top: inherit;
}

  /* testing */
  
  .centered {
    /* width: 550px; */
    height: 110px;
    margin: auto;
  }
  
  .group {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
  }
  
 .centered label {
    position: absolute;
    top: 36.66667px;
    color: white;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 1.2em;
    cursor: text;
    transition: .25s ease;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .centered  input {
    background: var(--cardColor);
    display: block;
    width: 100%;
    padding-top: 36.66667px;
    border: none;
    border-radius: 0;
    color: White;
    font-size: 1.2em;
    transition: .3s ease;
    font-weight: bold;
    text-transform: uppercase;
  }
  .centered  input:valid ~ label {
    top: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 700 22px;
    color:white;
  }
  .centered  input:focus {
    outline: none;
  }
  .centered  input:focus ~ label {
    top: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: .8em;
    color: white;
  }
  .centered  input:focus ~ .bar:before {
    transform: translateX(0);
  }
  .centered   input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: var(--cardColor) !important;
  }
  
  .bar {
    background: white;
    content: '';
    width: 550px;
    height: 3.66667px;
    transition: .3s ease;
    position: relative;
  }
  .bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: white;
    transform: translateX(-100%);
  }
  
  ::selection {
    background: rgba(33, 150, 243, 0.3);
  }
  
  .upVotebtn{
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 1.1rem;
    outline:none;
    top:0;
    vertical-align: text-top;
	background:var(--cardColor);
	color:#fff;
  }

  .upVoted
  {
    color: black !important;
  }


  .btn{
    padding: 5px;
    background:transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
     transition: all 0.2s ease-in-out 0s;
	background:var(--cardColor);
	color:#fff;
  box-shadow: 0 3px 0 var(--cardColor);
  border-radius: 15px;
  font-family: 'Lato', 'Arial', sans-serif;
}
.btn:hover{
	background:#c472e6;	
}

#shareImage{
  max-width: 900px;
  margin: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

#withdrawDiv {
  text-align: center;
  padding-bottom: 10px; 
}

#ad1{
  text-align: center;
}
#ad2{
  display: none;
  text-align: center;
}

.ads{
  text-align: center;
}

#contactPageContainer{
  margin-left: 10px;
  margin-right: 10px; 
}

.heading{
text-align: center;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  }
 
  #share-buttons a {
  text-decoration: none;
}

.outSide{
  text-align: end;
}