.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: 0px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 8px;
  padding-right: 8px;
  /* gutter size */
  background-clip: padding-box;
}

/* Style your items */

.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 15px;
}

.image-icon {
  vertical-align: -5px;
  color: black;
}

nav {
  background-color: #800080;
}

.upvoted {
  color: #800080;
}

.upvote {
  font-weight: 1000;
  cursor: pointer;
}

.card-content a {
  color: black;
}

.card {
  background-color: #f1f1f1;
}

.profile-info .withdraw-button {
  background-color: #800080;
}

body {
  background-color: #d2d2d2;
}

.card .profile-image-stats {
  padding: 24px 0px 24px 0px;
}

.responsive-mp4 {
  width: 100%;
  height: auto;
}

.comment-box {
  border-top: black solid 1px;
  padding-top: 10px;
}

.card-hover:hover {
  box-shadow: 0 2px 2px 0 #800080, 0 3px 1px -2px #800080, 0 1px 5px 0 #800080;
}

.parallax-container {
  height: 500px;
}

.login-container {
  padding: 20px;
}

.btn {
  background-color: #800080 !important;
  margin: 10px;
}

.btn:hover {
  background-color: #800080 !important;
}

.social-icon {
  margin-right: 5px;
}

.login-container .btn {
  margin-bottom: 10px;
}

.login-container img {
  margin: 10px;
}

.avatar-img-div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.avatar-image {
  margin-top: 10px;
  max-width: 200px !important;
  width: 100% !important;
}

.avatar-img-div {
  min-height: 225px !important;
}

@media only screen and (max-width: 600px) {
  .avatar-img-div {
    min-height: auto !important;
  }
}

.new-username {
  width: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ad {
  margin-top: 5px;
}

.vertical-own {
  max-width: 30vw;
}

.horizontal-own {
  max-width: 50vw;
}

@media only screen and (max-width: 600px) {
  .vertical-own {
    max-width: 90%;
  }
  .horizontal-own {
    max-width: 100%;
  }
}

.avatar-input-slider:-webkit-slider-thumb {
  color: #800080;
}

input[type="range"] {
  height: 38px;
  -webkit-appearance: none;
  width: 100%;
  margin: auto;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #3071a9;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #3071a9;
}

.avatar-editor .btn {
  max-width: 200px;
}

.avatar-input-slider {
  max-width: 250px !important;
}

.qr-code {
  padding: 20px;
  height: 228px !important;
  width: 228px !important;
  background: white;
}

.img-payment-required {
  position: relative;
}

/* label focus color */

.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #800080 !important;
}

.input-field .prefix.active {
  color: #800080 !important;
}

/* label underline focus color */

.input-field input[type="text"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #800080 !important;
  box-shadow: 0 1px 0 0 #800080 !important;
}

.avatar-input {
  color: inherit !important;
  font-size: inherit !important;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

.caption-text {
  padding-left: 5%;
  padding-right: 5%;
  word-break: break-word;
  color: black !important;
}

.withdraw-textarea {
  height: 250px !important;
}

.spinner {
  --widthSpinner: 20vmin;
  --colorSpinner: #fff;
  /* --colorSpinnerBackground: #0003; */
  width: var(--widthSpinner);
  height: calc(0.2 * var(--widthSpinner));
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  background-color: var(--colorSpinnerBackground);
  box-shadow: 0 0 0 calc(0.1 * var(--widthSpinner))
    var(--colorSpinnerBackground);
}

.block {
  width: calc(0.21 * var(--widthSpinner));
  height: calc(0.21 * var(--widthSpinner));
  position: absolute;
  top: calc(0.1 * var(--widthSpinner));
  left: 0;
  background-color: #0000;
  box-shadow: calc((0.2 + 0) * var(--widthSpinner)) 0 var(--colorSpinner),
    calc((0.2 + 0.4) * var(--widthSpinner)) 0 var(--colorSpinner),
    calc((0.2 + 0.8) * var(--widthSpinner)) 0 var(--colorSpinner),
    calc((0.2 + 1.2) * var(--widthSpinner)) 0 var(--colorSpinner);
  transform: translate(calc(-100% - 0 * var(--widthSpinner)), -50%);
  will-change: transform;
  animation: moveit ease-in-out 0.5s infinite forwards;
}

.chain {
  width: calc(1 * var(--widthSpinner));
  height: calc(0.03 * var(--widthSpinner));
  background-color: var(--colorSpinner);
  position: absolute;
  top: calc(0.1 * var(--widthSpinner));
  left: -1px;
  transform: translate(0, -50%);
}

@keyframes moveit {
  0% {
    transform: translate(calc(-100% - 0 * var(--widthSpinner)), -50%);
  }
  66%,
  100% {
    transform: translate(calc(-100% - 0.4 * var(--widthSpinner)), -50%);
  }
}

.place-holder-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-holder-container .lock {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* size of second image */

.place-holder-container .lock > i {
  width: 100px;
}

.title-text {
  word-break: break-word;
  color: black;
  margin: 0.5rem 10px 0rem 10px;
  text-align: center;
  padding: 10px;
}

.image-stats span {
  padding: 0 !important;
}

.place-holder {
  border-radius: 2px 2px 0 0;
}

.card .card-image img {
  border-radius: 0px;
}

.comment-timestamp {
  font-size: 0.8rem;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #800080;
}

.profile-edit-btn {
  position: absolute;
  right: 5px;
}

.filepond--label-action {
  text-decoration: none;
  color: white;
}

.filepond--panel-root {
  background-color: #800080;
}

.filepond--file-action-button:focus {
  background-color: #800080;
}

.filepond--drop-label {
  cursor: pointer;
}

.filepond-container {
  width: 80%;
}

.link-sytled-button {
  cursor: pointer;
}
