.my-masonry-grid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
    /* Not needed if autoprefixing */
    display: flex;
    margin-left: 0px;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 8px;
    padding-right: 8px;
    /* gutter size */
    background-clip: padding-box;
}

/* Style your items */

.my-masonry-grid_column>div {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 15px;
}

.image-icon {
    vertical-align: -5px;
    color: black;
}

nav {
    background-color: #800080;
}

.upvoted {
    color: #800080;
}

.upvote {
    font-weight: 1000;
    cursor: pointer;
}

.card-content a {
    color: black;
}

.profile-info .avatar-image {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-info .withdraw-button {
    background-color: #800080;
}

.profile-info {
    /* background: #33312E; */
}

body {
    background-color: #d2d2d2;
}

.card .profile-image-stats {
    padding: 24px 0px 24px 0px;
}

.avatar-edit-button {
    position: absolute;
    z-index: 2;
    top: 80%;
    right: 20%;
}

.avatar-img-div {
    position: relative;
}

.responsive-mp4 {
    width: 100%;
    height: auto;
}

.comment-box {
    border-top: black solid 1px;
    padding-top: 10px;
}

.avatar-img-div {
    /* height: 11em; */
    display: flex;
    /* background-color: wheat; */
}

.card:hover {
    box-shadow: 0 2px 2px 0 #800080, 0 3px 1px -2px #800080, 0 1px 5px 0 #800080;
}

.parallax-container {
    height: 500px;
}